<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {
      background-color: #F5F5F5;
    }

    * {
      box-sizing: border-box
    }

    .timestamp-container {
      height: 100vh;
    }

    section h4 {
      text-align: center;
    }

    .create-user {
      background-color: #87D37C;
    }

    code {
      background-color: #FFFEC4;
      color: #000000
    }

    form {
      width: 300px;
    }

    input {
      margin-top: 5px;
    }
  </style>
</head>

<body onload="onLoad()">
  <div class="timestamp-container container d-flex flex-column align-items-center justify-content-around">
    <h3>Exercise Tracker</h3>
    <section class="create-user p-3 d-flex flex-column">
      <h4>Create New User</h4>
      <p>
        <code class="post">POST /api/exercise/new-user</code>
      </p>
      <form class="d-flex flex-column" action="/api/exercise/new-user" method="post">
        <input required placeholder="username" type="text" name="username">
        <input class="mt-1" type="submit" value="Submit">
      </form>
    </section>
    <section class="create-user p-3 d-flex flex-column">
      <h4>Add exercises</h4>
      <p>
        <code class="post">POST /api/exercise/add</code>
      </p>
      <form class="d-flex flex-column" action="/api/exercise/add" method="post">
        <input required placeholder="userId*" type="text" name="userId">
        <input required placeholder="description*" type="text" name="description">
        <input required placeholder="duration* (mins.)" type="text" name="duration">
        <input required placeholder="date (yyyy-mm-dd)" type="text" name="date">
        <input class="mt-1" type="submit" value="Submit">
      </form>
    </section>
    <section>
      <p><strong>GET users's exercise log:</strong><code> GET /api/exercise/log?{userId}[&from][&to][&limit]</code></p>
      <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
      <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center">
      <h6>
        Github:
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/gpbaculio/fcc-exercise-tracker">
          FCC Exercise Tracker
        </a>
      </h6>
      <h6>by <a target="_blank" rel="noopener noreferrer" href="http://bit.ly/gpbaculio">Glendon Philipp B.
          Baculio</a> </h6>
    </section>
  </div>
  <script>
    const onLoad = () => {
      Array.from(document.getElementsByClassName("usage")).map(usage => {
        const url = window.location.href.concat(usage.innerHTML)
        usage.innerHTML = url
        usage.href = url
      })
    }
  </script>
</body>

</html>